{
    "src/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint",
        "jest --passWithNoTests",
        "tsc-files --noEmit --emitDeclarationOnly false"
    ],
    "src/**/*.{css,less}": [
        "stylelint --fix"
    ]
}